.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

#web-page-consolidation {
  flex: 1;
  justify-content: center;
}

#hello-wrapper, #blue-red-hello-wrapper, #number-wrapper, #home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

#hello-row, #blue-red-hello-row, #number-row, #home-row {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: large;
  gap: 25px;
}

#hello-information, #blue-red-hello-information, #number-information, #home-information {
  display: flex;
  font-size: larger;
  flex-direction: column;
  height: 200px;
}

#blue-red-hello-wrapper {
  background-color: lightcoral;
  color: blue;
}

input {
  height: 30px;
  color: blue;
}

button {
  background-color: gainsboro;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid gray;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px gray;
  align-self: center;
}

button:hover {
  background-color: aliceblue;
  transition: 500ms;
  color: darkcyan;
}

button:active {
  background-color: darkslategrey;
  color: whitesmoke;
}